[Desktop Entry]
Type=Application
Name=Citify
GenericName=Local Music Player
Comment=Browse and play your local music library
Exec=citify
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=ctify;citify;music;audio;mp3;player;library;
StartupNotify=true
